<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Add User</title>
  </head>
  <body>
    

    <div class="container">
        <h1>Add User</h1>
        <p><a class="btn btn-link" href="/users" role="button">Show All</a></p>
        <form action="/users/add" method="post">
          <div class="form-group">
            <label for="id">ID</label>
            <input type="number" class="form-control" id="id" name="id">
          </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" name="email">
            </div>

            <div class="form-group form-check">
                <input type="radio" class="form-check-input" id="exampleCheck1" name="gender" value="Male">
                <label class="form-check-label" for="exampleCheck1">Male</label>
              </div>
              <div class="form-group form-check">
                <input type="radio" class="form-check-input" id="exampleCheck1" name="gender" value="Female">
                <label class="form-check-label" for="exampleCheck1">Female</label>
              </div>

             
            <div class="form-group">
                <label for="password">Password </label>
                <input type="text" class="form-control" id="password" name="password">
              </div>

            <div class="form-group">
                <label for="role">Role</label>
                <input type="text" class="form-control" id="role" name="role">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

  </body>
</html>